

process {
    echo = false
    cpus = 1
}

profiles {
  conda { 
    process.conda = "$baseDir/environment.yml" 
    conda.createTimeout = '1 h'}
  docker { 
    docker.enabled = true
    docker.runOptions = "-u \$(id -u):\$(id -g)"
  }
}

timeline {
    enabled = true
}

report {
    enabled = true
}
